

.landing-page{
    background-image: url("../../assets/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    &__title{
        color: white;
        font-size: 3rem;
    }
    &__hero-content{
        color: white;
    }
    &__button{
        text-decoration: none;
        padding: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: rgb(11, 84, 115, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border-radius: 5px;
        width: 5rem;
    }

   &__info{
    display: flex;
    flex-direction: column;
   }

    &__title-info-container{
        border-radius: 5px;
        background-color: rgb(11, 84, 115, 1);
        color: white;
        text-align: center;
        padding: 0.5rem;
        
      
    
    }

    &__info-container{
        text-align: left;
        background-color: gray;
        padding: 0.5rem;
        border-radius: 5px;
       
    }

    &__info-content{
        text-align: center;
        text-decoration: none;
    }

    &__info-img{
        border-radius: 5px;
        width: 100%;
     
    }
}

.hero-container{
    background-color: black;
    opacity: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 50%;
    border-radius: 5px;
    position: relative;
    left: 25%;


   
}

.dark{
    font-weight: bold;
    text-align: left;
}

